[Unit]
Description=Minetest Server
After=network.target

[Service]
Type=simple
User=minetest
Group=minetest
WorkingDirectory={{lookup('env','MT_DISK')}}
ExecStart=/usr/bin/minetest --config {{ lookup('env','MT_DISK') }}/conf/minetest.conf --world {{ lookup('env','MT_DISK') }}/data --server 
Restart=on-abort

[Install]
WantedBy=multi-user.target
