server_name = {{ lookup('env','MT_SERVER_NAME') }}
server_description = {{ lookup('env','MT_SERVER_DESCRIPTION') }}
bind_address = {{ lookup('env','MT_BIND_ADDRESS') }}
port = {{ lookup('env','MT_BIND_PORT') }}
name = {{ lookup('env','MT_ADMIN_NAME') }}
default_password= {{ lookup('env','MT_DEFAULT_PASSWORD') }}

# defaults settings for minetest
active_block_range = 3
max_block_send_distance = 30
max_block_generate_distance = 30
client_unload_unused_data_timeout = 300
client_mapblock_limit = 2000
time_speed = 0
# make names invisible after a while
unlimited_player_transfer_distance = false

# mode
creative_mode = true
# default_privs = student, interact, shout, teleport, fast, fly
default_privs = student, fast, fly

# allow http access
secure.http_mods = mapserver

# Other mapserver settings
mapserver.url = {{ lookup('env','MT_SERVER_ADDRESS') }}:8080
mapserver.enable_crafting = true
mapserver.key = unknown

# which mods can reach out to the internet?
secure.trusted_mods = unknown