[Unit]
Description=Minetest Server
After=network.target

[Service]
Type=simple
User=minetest
Group=minetest
WorkingDirectory={{mthome}}
ExecStart=/usr/bin/minetest --config {{mthome}}/conf/minetest.conf --world {{mthome}}/data --server 
Restart=on-abort

[Install]
WantedBy=multi-user.target
