[Unit]
Description=Minetest Server
After=network.target

[Service]
Type=simple
User=minetest
Group=minetest
WorkingDirectory=/home/minetest
ExecStart=/usr/bin/minetest --config /etc/minetest/minetest.conf --server
Restart=on-abort

[Install]
WantedBy=multi-user.target
